<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Funcionário</title>
</head>

<body>
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Funcionarios</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		      	<li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Início</a></li>
		        <li><a href="/funcionarios" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Funcionarios</a></li>
		      </ul>
		    </div>
		</nav>	
	</header>
	<form class="container" method="post" action="cadastrarFuncionario">
			<input type="hidden" th:value="${funcionario.codigo}" name="codigo"/>
				<div class="row">
				<div class="input-field col s4">
				Nome:<input type="text" th:value="${funcionario.nome}" name="nome"disabled/>
				</div>				
				<div class="input-field col s2">				
				RG: <input type="text" th:value="${funcionario.rg}" name="rg" disabled/>	
				</div>	
				<div class="input-field col s2">				
				CPF: <input type="text" th:value="${funcionario.cpf}" name="cpf" disabled/>	
				</div>
				<div class="input-field col s3">
				Cargo
				<p>
					<label><input class="with-gap" th:checked='${funcionario.cargo.equals("funcionario")}' value= "funcionario" name="cargo" type="radio" disabled/><span>Funcionário</span></label>
				   	<label><input class="with-gap" th:checked='${funcionario.cargo.equals("gerente")}' value= "gerente" name="cargo" type="radio" disabled/><span>Gerente</span></label>
			  	</p>			  	
				</div>				
				<div class="input-field col s2">	
				Telefone: <input type="text" th:value="${funcionario.telefone}" name="telefone" disabled/>
				</div>				
				<div class="input-field col s3">
				Email: <input type="text" th:value="${funcionario.email}" name="email" disabled/>
				</div>				
				<div class="input-field col s2">				
				Data de Nascimento: <input type="date" th:value="${funcionario.dataNascimento}" name="dataNascimento" disabled/>													
				</div>				
				<div class="input-field col s3">				
				Naturalidade: <input type="text" th:value="${funcionario.naturalidade}" name="naturalidade" disabled/>
				</div>				
				<div class="input-field col s4">			
				Rua: <input type="text" th:value="${funcionario.endRua}" name="endRua" disabled/>
				</div>				
				<div class="input-field col s1">
				Número: <input type="text" th:value="${funcionario.endNumero}" name="endNumero" disabled/>
				</div>				
				<div class="input-field col s2">
				Complemento: <input type="text" th:value="${funcionario.endComplemento}" name="endComplemento" disabled/>
				</div>				
				<div class="input-field col s3">
				Bairro: <input type="text" th:value="${funcionario.endBairro}" name="endBairro" disabled/>
				</div>				
				<div class="input-field col s4">
				Cidade: <input type="text" th:value="${funcionario.endCidade}" name="endCidade" disabled/>
				</div>				
				<div class="input-field col s3"> 
				Estado
				<p>				    
				  <select class="browser-default" name="endUnidadeFederativa"disabled>				    
				    <option th:selected='${funcionario.endUnidadeFederativa.equals("AC")}'value="AC">Acre</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("AL")}'value="AL">Alagoas</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("AP")}'value="AP">Amapá</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("AM")}'value="AM">Amazonas</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("BA")}'value="BA">Bahia</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("CE")}'value="CE">Ceará</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("DF")}'value="DF">Distrito Federal</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("ES")}'value="ES">Espírito Santo</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("GO")}'value="GO">Goiás</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("MA")}'value="MA">Maranhão</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("MT")}'value="MT">Mato Grosso</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("MS")}'value="MS">Mato Grosso do Sul</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("MG")}'value="MG">Minas Gerais</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("PA")}'value="PA">Pará</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("PB")}'value="PB">Paraíba</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("PR")}'value="PR">Paraná</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("PE")}'value="PE">Pernambuco</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("PI")}'value="PI">Piauí</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("RJ")}'value="RJ">Rio de Janeiro</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("RN")}'value="RN">Rio Grande do Norte</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("RS")}'value="RS">Rio Grande do Sul</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("RO")}'value="RO">Rondônia</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("RR")}'value="RR">Roraima</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("SC")}'value="SC">Santa Catarina</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("SP")}'value="SP">São Paulo</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("SE")}'value="SE">Sergipe</option>
					<option th:selected='${funcionario.endUnidadeFederativa.equals("TO")}'value="TO">Tocantins</option>				    
				  </select>
				<p/>				    				   
				</div>				
				<div class="input-field col s2">
				CEP: <input type="text" th:value="${funcionario.endCep}" name="endCep" disabled/>
				</div>				
											
				</div>				
		
		<a href="/funcionarios" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Voltar</a>
	</form>
	
	
<!--JavaScript at end of body for optimized loading-->
<!-- <script type="text/javascript" src="js/materialize.min.js"></script>  -->
<script type="text/javascript" src="js/materialize.js"></script>
</body>
</html>