<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cadastrar Agencia</title>
</head>
<body>
<h1>Cadastrar Agencia</h1>
	<form method="post">
			Tipo: <input type="text" value="" name="tipo" />
			Nome Fantasia: <input type="text" value="" name="nome" />
			CPF: <input type="text" value="" name="cpf" />
			RG: <input type="text" value="" name="rg" />
			Data de Nascimento: <input type="text" value="" name="dataNascimento" />
			Naturalidade: <input type="text" value="" name="naturalidade" />
			Rua: <input type="text" value="" name="endRua" />
			Número: <input type="text" value="" name="endNumero" />
			Complemento: <input type="text" value="" name="endComplemento" />
			Bairro: <input type="text" value="" name="endBairro" />
			Cidade: <input type="text" value="" name="endCidade" />
			Unidade Federativa: <input type="text" value="" name="endUnidadeFederativa" />
			CEP: <input type="text" value="" name="endCep" />
			Telefone: <input type="date" value="" name="telefone" />
			E-mail: <input type="checkbox" value="" name="email" />
			
			<button type="submit">Salvar</button>
			
		</form>
</body>
</html>