<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cadastrar Carro</title>
</head>
<body>
<h1>Cadastrar Carro</h1>
	<form method="post">
			Renavan: <input type="text" value="" name="renavam" />
			Modelo: <input type="text" value="" name="modelo" />
			Marca: <input type="text" value="" name="marca" />
			Potência: <input type="text" value="" name="potencia" />
			Ano de Fabricação: <input type="text" value="" name="anoFab" />
			Ano do Modelo: <input type="text" value="" name="anoMod" />
			Cor: <input type="text" value="" name="cor" />
			Cor: <input type="text" value="" name="cor" />
			Localização: <input type="text" value="" name="localizacao" />
			Porcentagem do Nível de Combustível: <input type="text" value="" name="porcentNivelComb" />
			Data de Aquisição: <input type="date" value="" name="dataAquisicao" />
			Gasolina: <input type="checkbox" value="" name="combGasolina" />
			Etanol: <input type="checkbox" value="" name="combEtanol" />
			Diesel: <input type="checkbox" value="" name="combDiesel" />
			GNV: <input type="checkbox" value="" name="combGnv" />
			Freios ABS: <input type="checkbox" value="" name="abs" />
			Ar Condicionado: <input type="checkbox" value="" name="arCondicionado" />
			Vidro Elétrico: <input type="checkbox" value="" name="vidroEletrico" />
			GPS: <input type="checkbox" value="" name="gps" />
			Travas nas Portas: <input type="checkbox" value="" name="travas" />
			Alarme: <input type="checkbox" value="" name="alarme" />
			
			<button type="submit">Salvar</button>
			
		</form>
</body>
</html>